/*
 * @author : aris
 * @date   : 2014
 */

/*框架*/
#IndexLeft{height:640px; margin-left:200px; padding-top:150px; border-right:1px #bec3d6 solid}
#IndexRight{ color:#bec3d6; border-left:1px #bec3d6 solid}

#IndexRight  .search-wrap{padding-left:200px; padding-top: 150px; width:650px; height:44px;}
#IndexRight  .search-wrap  .search__input{padding-left:12px; width:432px; height:44px;font-size: 16px;}
#IndexRight   .btn_wr{width: 107px;height: 50px;position: absolute;left:460;display: inline-block;}
#IndexRight   .btn{width: 105px;height: 50px;padding: 0;border: 0; font-size: 16px;background-color: #21BDDE;cursor: pointer}
#IndexRight  .search_span  .search__submit{width:54px; height:44px;}